.complaints {
	background-color: rgb(244, 244, 244);
	border-radius: 6rem;
	padding-top: 10rem;
	padding-bottom: 10rem;
}

.space {
	padding-bottom: 2rem;
}

.rows {
	display: inline-block;
}

.search-selector {
	width: 100px !important;
	margin-right: 10px !important;
}

.search-btn {
	margin-right: 10px !important;
	margin-left: 10px !important;
	background-color: #326295 !important;
	border-color: #326295 !important;
	width: 75px !important;
	height: 32px;
	padding-bottom: 2px;
	padding-top: 2px;
}

.search-input {
	margin-right: 10px !important;
	margin-left: 10px !important;
	display: inline-block !important;
	width: 300px !important;
}

.pagnation {
	display: flex;
	padding-left: 0;
	justify-content: center;
	list-style: none;
	justify-content: center !important;
}

.page-link {
	color: black;
	background-color: rgb(244, 244, 244);
	border: none;
}

.page-item {
	margin: 0.2rem;
}

.btn.focus, .btn:focus {
	outline: 0;
	box-shadow: none !important;
	border-color: #326295 !important;
}

.btn_02 {
	margin: 10px;
	background-color: #D0D0CE;
	outline: none;
	box-shadow: none;
	border: 0;
	outline: 0;
	border-radius: 25px;
}

table {
	border: none;
	width: 100%;
	margin: auto;
	text-align: center;
	background-color: rgb(239, 247, 253);
	border-radius: 1rem;
}

td {
	padding: 0 10px;
	padding: 10px 0;
}

thead, tbody, tfoot, tr, td, th {
	border: none;
	justify-items: center;
}

.admin-nav-border {
	padding-bottom: 20px;
	border-bottom: 4px solid black;
}

.authority-btn {
	background-color: white;
	color: black;
	border: none;
}

.tr-border{
	border-bottom: 4px solid rgb(140, 142, 244);
}
.adminSelect{
	padding: 0.5rem;
	border: 1px solid #D0D0CE;
	border-radius: 0.5rem;
}
/* 모바일 */
@media ( max-width : 576px) {
	#email {
		display: none;
	}
	.search-selector {
		width: 70px !important;
		margin-right: 3px !important;
	}
	.search-btn {
		margin-right: 3px !important;
		margin-left: 3px !important;
		background-color: #326295 !important;
		border-color: #326295 !important;
		width: 70px !important;
		height: 32px;
		padding-bottom: 2px;
		padding-top: 2px;
	}
	.search-input {
		margin-right: 3px !important;
		margin-left: 3px !important;
		display: inline-block !important;
		width: 100px !important;
	}
}

@media ( max-width : 768px) {
	#contact {
		display: none;
	}
}

@media ( min-width : 576px) {
	.search-selector {
		width: 70px !important;
		margin-right: 5px !important;
	}
	.search-btn {
		margin-right: 5px !important;
		margin-left: 5px !important;
		background-color: #326295 !important;
		border-color: #326295 !important;
		width: 70px !important;
		height: 32px;
		padding-bottom: 2px;
		padding-top: 2px;
	}
	.search-input {
		margin-right: 5px !important;
		margin-left: 5px !important;
		display: inline-block !important;
		width: 200px !important;
	}
}

@media ( min-width : 768px) {
	.search-selector {
		width: 100px !important;
		margin-right: 10px !important;
	}
	.search-btn {
		margin-right: 10px !important;
		margin-left: 10px !important;
		background-color: #326295 !important;
		border-color: #326295 !important;
		width: 75px !important;
		height: 32px;
		padding-bottom: 2px;
		padding-top: 2px;
	}
	.search-input {
		margin-right: 10px !important;
		margin-left: 10px !important;
		display: inline-block !important;
		width: 300px !important;
	}
}