.pt-title{
	padding-top:100px !important;
	padding-bottom:50px !important;
}

.table-height{
	height:430px;
}

.img-size{
	height:120px !important;
}

.rows{
    display: inline-block;
}

.search-selector{
	width: 70px !important;
	margin-left: 70px !important;
	margin-right: 10px !important;
}

.search-btn{
	margin-right: 10px !important;
	margin-left: 10px !important;
	background-color: #326295 !important;
	border-color: #326295 !important;
	height: 32px;
    padding-bottom: 2px;
    padding-top: 2px;
	
}

.search-input{
	margin-right:10px !important;
	margin-left: 10px !important;
	display:inline-block !important;
	width: 200px !important;
}

.writing-btn{
	background-color: lightgray !important;
	border-color: lightgray !important;
	color: black !important;
	height: 32px;
    padding-bottom: 2px;
    padding-top: 2px;
    float:right;
}
