.h-auto{
	height:auto;
}

.pt-title{
	padding-top: 4.5em !important;
    padding-bottom: 1em !important;
}

.table-height{
	height:auto;
}

.table-mb{
	margin-bottom:0.5em;
}

.club-img{
	height:120px !important;
}

.position{
	position:relative;
}

.rows{
    display: inline-block;
}

.search-form{
	margin-top:1em;
}

.form-form{
	margin-bottom:0 !important;
}

.search-selector{
	width: 70px !important;
	margin-left: 70px !important;
	margin-right: 10px !important;
}

.search-btn{
	margin-right: 90px !important;
	margin-left: 10px !important;
	background-color: #326295 !important;
	border-color: #326295 !important;
	height: 32px;
    padding-bottom: 2px;
    padding-top: 2px;
	
}

.search-input{
	margin-right:10px !important;
	margin-left: 10px !important;
	display:inline-block !important;
	width: 200px !important;
}

.pagnation {
    display: flex;
    padding-left: 0;
    justify-content: center;
    list-style: none;
    justify-content: center !important;
}

.page-link {
	color: black;
    background-color: rgb(244, 244, 244);
    border: none;
}

.writing-btn{
	background-color: lightgray !important;
	border-color: lightgray !important;
	color: black !important;
	height: 32px;
    padding-bottom: 2px;
    padding-top: 2px;
    position:absolute;
    top:0;
    right:0;
    
}

@media (max-width: 1200px){
	.club-img{
		display:none;
	}
}

@media (max-width: 768px){
	.search-btn {
    margin-right: 0 !important;
    margin-left: 0 !important;
    background-color: #326295 !important;
    border-color: #326295 !important;
    height: 32px;
    padding-bottom: 2px;
    padding-top: 2px;
	}
	
	.search-input {
    margin-right: 10px !important;
    margin-left: 10px !important;
    display: inline-block !important;
    width: 150px !important;
	}
	
	.search-form {
    margin-top: 3em;
	}
	
	.search-selector{
	width: 70px !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
	}
	
	h5{
		font-size: 1.15em;
	}
	
	.p-size{
	font-size:0.9em;
	}
}