#mainNav .navbar-brand-logo {
	color: black;
	background-image:
		url("https://www.handong.edu/site/handong/res/img/sub_802-02.png");
}

#mainNav .logo {
	width: 300px;
	padding-right: 5px;
}

.login-btn {
	display: inline-block;
	font-weight: 400;
	line-height: 1.5;
	color: rgb(185, 185, 185);
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: rgb(242, 242, 242);
	border: none;
	padding: 0.5rem 1rem;
	font-size: 0.8rem;
	border-radius: 0.25rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	margin-right: 0.7rem;
	margin-bottom: 0;
}

#name {
	color: rgb(185, 185, 185);
	font-size: 0.5rem;
}

#mainNav .navbar-nav .nav-bottom-border {
	border-bottom: 4px solid transparent;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
	left: -32%;
	top: 52px;
	background-color: rgb(242, 242, 242) !important;
	border-radius: 2rem;
	border: none !important;
}

.navbar-expand-lg .navbar-nav .dropdown-menu-community {
	left: -50%;
	top: 52px;
	background-color: rgb(242, 242, 242) !important;
	border-radius: 2rem;
	border: none !important;
}

.dropdown-menu {
	color: gray !important;
	min-width: 9rem !important;
}

.border-none {
	border-bottom: none !important;
}

#mainNav .navbar-nav .nav-bottom-border:hover {
	border-bottom: 4px solid black !important;
	transition: border 0.5s ease;
}

.login-btn{
	background-color:#326295 !important;
	color: white !important;
}

@media ( max-width : 576px) {
	#mainNav .logo {
		width: 200px;
	}
	.navbar-toggler {
		padding: 0.25rem 0.35rem;
	}
}

@media ( max-width : 992px) {
	/* 	.respx-3 {
		padding-right: 1rem !important;
		padding-left: 1rem !important;
	}
	.respy-4 {
		padding-top: 0.7rem !important;
		padding-bottom: 0.7rem !important;
	}
	*/
	.navbar-brand {
		font-size: 1rem !important;
	}
	.navbar-toggler {
		padding: 0.25rem 0.35rem;
	}
}

@media ( max-width : 1200px) {
	.respy-4 {
		padding-top: 1rem !important;
		padding-bottom: 0.5rem !important;
	}
	.nav-link:hover {
		border-bottom: none !important;
	}
	.login-btn {
		padding: 0.7rem 1rem;
		margin: 0.3rem 0;
		font-size: 0.9rem;
		color: black;
	}
	#mainNav .navbar-nav .nav-bottom-border:hover {
		border-bottom: 4px solid transparent !important;
		transition: border 0.5s ease;
	}
}

@media ( min-width : 1200px) {
	.button-padding {
		margin-left: 0;
	}
	.button-left {
		margin-left: 2rem !important;
	}
	.navbar-expand-lg .navbar-collapse {
		display: contents !important;
	}
}