.form-control {
	border: none;
}

.background-gray {
	background-color: rgb(242, 242, 242);
}

.complaints {
	background-color: rgb(244, 244, 244);
	border-radius: 6rem;
	padding-top: 10rem;
	padding-bottom: 10rem;
}

.space {
	padding-bottom: 2rem;
}

.rows {
	display: inline-block;
}

.search-selector {
	width: 150px !important;
	margin-right: 10px !important;
}

.search-btn {
	margin-right: 10px !important;
	margin-left: 10px !important;
	background-color: #326295 !important;
	border-color: #326295 !important;
	width: 75px !important;
	height: 32px;
	padding-bottom: 2px;
	padding-top: 2px;
}

.search-input {
	margin-right: 10px !important;
	margin-left: 10px !important;
	display: inline-block !important;
	width: 300px !important;
}

.pagnation {
	display: flex;
	padding-left: 0;
	justify-content: center;
	list-style: none;
	justify-content: center !important;
}

.page-link {
	color: black;
	background-color: rgb(244, 244, 244);
	border: none;
}

.page-item {
	margin: 0.2rem;
}

.btn {
	margin: 2px;
}

.btn.focus, .btn:focus {
	outline: 0;
	box-shadow: none !important;
	border-color: #326295 !important;
}

.backgrond-white {
	background-color: white !important;
}

.tag {
	border-radius: 25px !important;
	margin: 2px;
	border: 3px solid #326295 !important;
	width: 150px;
}
.search-margin{
	margin-top: 6em;
}
